<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="EventMapping" type="Puppy.Monitoring.DucksboardPublisher.Configuration.EventMappingConfigSection, Puppy.Monitoring.DucksboardPublisher" />
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="Puppy.Daemon.Scheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/imps.xml" />
  </quartz>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
        <!-- path to your config file -->
      </factoryAdapter>
    </logging>
  </common>
  <EventMapping>
    <Mappings url="https://push.ducksboard.com/v/" apiKey="Z9lFubcS9RQQWCKvP6d6gVQtQrqfLpKwxuKTNuq9JQSlMxAJjl">
      <add counter="0" category="iBroker Integration" subCategory="QuestionQuery" payload="Puppy.Monitoring.DucksboardPublisher.AbsoluteGraphPayload, Puppy.Monitoring.DucksboardPublisher" slotNumber="33" />
      <add counter="1" category="iBroker Integration" subCategory="QuoteQuery" payload="Puppy.Monitoring.DucksboardPublisher.AbsoluteGraphPayload, Puppy.Monitoring.DucksboardPublisher" slotNumber="44" />
      <add counter="2" category="iBroker Integration" subCategory="QuoteQuery" payload="Puppy.Monitoring.DucksboardPublisher.CounterPayload, Puppy.Monitoring.DucksboardPublisher" slotNumber="55" />
      <add counter="3" category="iBroker Integration" subCategory="QuoteQuery" payload="Puppy.Monitoring.DucksboardPublisher.RelativeGraphPayload, Puppy.Monitoring.DucksboardPublisher" slotNumber="66" />
    </Mappings>
  </EventMapping>
  <appSettings>
    <add key="puppy.Daemon.Description" value="Daemon description" />
    <add key="puppy.Daemon.DisplayName" value="Daemon display name" />
    <add key="puppy.Daemon.Name" value="DaemonName" />
  </appSettings>
  <connectionStrings>
    <add name="puppy.sqlserver" connectionString="data source=.;Trusted_Connection=true;Initial Catalog=Puppy.Monitoring;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>